{% extends "core/base.html" %}
{% load static %}
{% block title %} Вход {%endblock%}
{% block content %}
<form action="" method="get" class="form-example">
</form>
<div class="cont">
    <div class="containerr">
        <input type="checkbox" id="signup_toggle">
        <form action="" class="formm" method="post">
            {% csrf_token %}
            <div class="form_front">
                <div class="formm_details">Login</div>
                <input required type="text" class=" inputt" placeholder="Enter your username..." name="username">
                <input required type="password" placeholder="Enter your password..." name="password" id=""class="inputt">
                <button type="submit" class="btnn">Войти</button>
                <span class="switch">Don't have an account? 
                    <a  href="{%url 'signup'%}" class="signup_tog" for="signup_toggle">
                        Sign Up
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>
{% endblock %}