{% extends "core/base.html" %}
{% load static %}
{% block title %} Создание заказа {%endblock%}
{% block content %}
    <main>
        <a href="{%url 'main'%}" class="btn btn-dark ms-5 position-absolute fw-bold mt-2"> &#8629; Назад</a>
        <div class=" d-flex d-block justify-content-center align-items-center gap-2 mt-2">
            <div class="card w-50 mt-5">
                <div class="card-body">
                    <div class="">
                        <h3 class="text-center fw-bold">Ваш заказ</h3>
                        <form action="" class="d-block ms-2 mt-3" method="post">
                            {% csrf_token %}
                            <div class="d-flex gap-2">
                                <input type="email" class="form-control gap-2" placeholder="Enter your Email" name="email">
                                <input type="tel" class="form-control gap-2" required placeholder="Enter your Phone" name="phone">
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control gap-2" required placeholder="Enter your Adress..." name="address">
                                <input type="number" class="form-control gap-2" required placeholder="Enter your Count..." name="count" value='1' min="1">
                            </div>
                            <div class="gap-2">
                                <input type="text" class="form-control gap-2" placeholder="Enter your Comment..." name="comment">
                            </div>
                            <div class="justify-content-center gap-2">
                                <button type="submit" class="btn btn-warning shadow-lg rounded-3 d-block mx-auto fw-bold fs-5 mt-3 ">Купить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}